<footer class="bg-warmGray-600 text-white py-28 sm:py-32 lg:py-40 xl:pt-56 footer" id="kontakt">
  {% embed "_components/container" with {
    entry: entry,
  } only %}
    {% block content %}
      {% from "_macros" import renderServiceMenuList %}

      <div class="grid grid-cols-12">
        {# Lead #}
        {% set lead = tag("div", {
          class: [
            "col-start-1 col-span-10",
            "md:col-start-1 md:col-span-7",
            "lg:row-start-1 lg:col-start-1 lg:col-span-5",
            "xl:col-start-1 xl:col-span-4"
          ],
        })%}
        {% set leadContent %}
          {% if footer.footerLead ??? false %}
            {% embed "_components/text" only %}
              {% block content footer.footerLead %}
            {% endembed %}
          {% endif %}
        {% endset %}
        {{ lead|append(leadContent) }}


        {# Address #}
        {% set address = tag("div", {
          class: [
            "col-start-3 col-span-10 my-16",
            "md:col-start-3 md:col-span-7",
            "lg:row-start-2 lg:col-start-2 lg:col-span-5 lg:my-36",
            "xl:col-start-2 xl:col-span-4"
          ],
        })%}
        {% set addressContent %}
          {% if footer.footerAddress ??? false %}
            {% embed "_components/text" with {
              options: {
                classes: ["footer__address"]
              }
            } only %}
              {% block content footer.footerAddress %}
            {% endembed %}
          {% endif %}
        {% endset %}
        {{ address|append(addressContent) }}


        {# Social icons #}
        {% set socialIcons = tag("div", {
          class: [
            "col-start-3 col-span-10",
            "md:col-start-3 md:col-span-7",
            "lg:row-start-3 lg:col-start-1 lg:col-span-5",
            "xl:col-start-1 xl:col-span-4"
          ],
        })%}
        {% set socialIconsContent %}
          {% set socialIconsData = [
            {
              name: "XING",
              icon: "xing",
              url: "https://www.xing.com/profile/Eva_Hess2",
            },
            {
              name: "LinkedIn",
              icon: "linkedin",
              url: "https://www.linkedin.com/in/eva-hess-041ab3142/",
            },
            {
              name: "Facebook",
              icon: "facebook",
              url: "https://www.facebook.com/EvaHessInnenarchitektur/",
            },
            {
              name: "Instagram",
              icon: "instagram",
              url: "https://www.instagram.com/eh.innenarchitektur/",
            },
            {
              name: "Houzz",
              icon: "houzz",
              url: "https://www.houzz.de/pro/evahessinnenarchitektur",
            },
          ] %}

          <ul class="flex flex-wrap gap-4 lg:gap-5">
            {% for socialIcon in socialIconsData %}
              <li>
                <a href="{{ socialIcon.url }}" target="_blank" title="{{ socialIcon.name }}" class="block transition-transform transform-gpu hover:scale-105">
                  {{ svg("@root/assets/img/svg-sprite/#{ socialIcon.icon }.svg")|attr({ class: 'w-11 h-11 lg:w-16 lg:h-16' }) }}
                  <span class="sr-only">{{ socialIcon.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endset %}
        {{ socialIcons|append(socialIconsContent) }}


        {# Map #}
        {% set map = tag("a", {
          href: footer.footerMapLink ??? "#",
          target: "_blank",
          class: [
            "flex items-center",
            "col-start-3 col-span-10 mt-32 mb-20",
            "sm:col-start-3 sm:col-span-7",
            "lg:self-start lg:row-start-1 lg:row-span-3 lg:col-start-8 lg:col-span-4 lg:my-0",
            "xl:col-start-9 xl:col-span-4"
          ],
        })%}
        {% set mapContent %}
          {# Badge #}
          <div class="flex-shrink-0 relative z-10">
            {{ svg("@root/assets/img/svg-sprite/signet.svg")|attr({ class: 'w-[100px] h-[100px] mr-[-100px] md:w-[120px] md:h-[120px] md:mr-[-120px] 2xl:w-[150px] 2xl:h-[150px] 2xl:mr-[-150px] transform -translate-x-1/2' }) }}
            <span class="sr-only">Wir machen es schön</span>
          </div>

          {# Map #}
          {% set mapImage = footer.footerMap.one() %}
          {% if mapImage|length %}
            {% include "_components/image" with {
              options: {
                image: mapImage,
                wrapperClasses: ["bg-gray-100", "rounded-xl"],
              }
            } %}
          {% endif %}
        {% endset %}
        {{ map|append(mapContent) }}


        {# Service #}
        {% set service = tag("div", {
          class: [
            "text-white text-opacity-25",
            "col-start-1 col-span-10",
            "md:col-start-1 md:col-span-7",
            "lg:row-start-4 lg:col-start-7 lg:col-span-4",
            "xl:col-start-8 xl:col-span-4"
          ],
        })%}
        {% set serviceContent %}
          {{ renderServiceMenuList(entry, {
            itemClasses: ["headline--h6 uppercase mb-2"],
            linkClasses: ["transition-colors text-white text-opacity-25 hover:text-opacity-100"]
          }) }}
          <p class="headline--h6 uppercase">Eine Website von <a href="https://www.formatformat.de" target="_blank" class="lowercase transition-colors text-white text-opacity-25 hover:text-opacity-100">formatformat.de</a></p>
        {% endset %}
        {{ service|append(serviceContent) }}
      </div>
    {% endblock %}
  {% endembed %}
</footer>
